/.quarto/
/_freeze
/_site
.DS_Store
/.luarc.json
/notes/certain_things/Wedding/
/docs/notes/certain_things/Wedding/
.Rproj.user
/scratchwork/**
#Temp remove when complete
posts/post-with-code/Survey_Analytics_Design/*
*/*/*/tinytable_assets
posts/post-with-code/blaavan_sem
posts/post-with-code/discrete_choice_mlogit
